header{
    background-color: darkolivegreen;
    color: white;
    display:flex;
    align-items: baseline;
}

h1{
    font-weight: 700;
}

.title{
    background-color: bisque;
    color: white;
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px;
}

.figurine{
    border: solid 0.5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding:7px;
    margin-bottom: 20px;
}

.collection{
    color: gray;
    text-transform: uppercase;
    border-bottom: solid 1px gray;
    font-size: 10px;
    width: 100%;
}

.panier{
    color: white;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.price{
    font-weight: bold;
    font-size: 17px;
    text-align: right;

}


img{
    height: 12rem;
    width: 10rem;

}

.reduc{
    display: flex;
    align-items: center;
}

span{
    font-style: italic;
}

h3{
    font-size: 20px;
}

p{
    font-size: 12px;
}

.barré{
    text-decoration:line-through;
}

footer{
    background-color: darkgrey;
    color:aliceblue;
    text-align: center;
}

