body{
    background-color: pink;
}

h1, h2, h3{
    text-align: center;
    font-size: xx-large;
}

img{
    height: 25rem;
    width: 30rem;
    border-radius: 100px 0px 100px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div{
    text-align: center;
}

h1{
    background-color: bisque;
    color: brown;
    text-transform: uppercase;
    display: inline-block;
}

h2{

    color: red;
}

h3{

    color: greenyellow;
    text-align: center;
}

b{

    color: red;

}

.red{

color: plum;
}

.blue{
    color: royalblue;
}

p{
color: black;
font-size: 30px;
}

li{
    font-size: 30px;
    margin-left: 7px;
}

.extra{

    color: gray;
}

.astuce{
    color: gray;
    text-align: center;
    background-color: coral;
    font-size: 25px;
}